# Supabase
EXPO_PUBLIC_SUPABASE_URL=https://xxxx.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJ...

# App
EXPO_PUBLIC_API_URL=http://localhost:3001
EXPO_PUBLIC_APP_ENV=development

# EAS
EAS_PROJECT_ID=xxxx
